<?xml version="1.0" encoding="UTF-8"?>  
    
<Configuration status="WARN" >  
    
   <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
           <PatternLayout    
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <File name="logFile" fileName="d:/logs/logFile.log">
           <PatternLayout    
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
   </Appenders>  
  
  <Loggers>
         
     <Logger name="demo.mybatis.MyBatis06_01.mapper" level="DEBUG"  additivity="false" >
        <AppenderRef ref="Console" />
     </Logger>
     
     <!--  -->
     <Logger name="demo.mybatis.MyBatis06_01.mapper.StudentMapper" level="TRACE" additivity="false" >
        <AppenderRef ref="Console" />
        <AppenderRef ref="logFile" />
     </Logger>
     
     <Root level="ERROR">  
         <AppenderRef ref="Console"/>  
     </Root> 
  </Loggers> 
</Configuration>
